#timercontainer {
    text-align: center;
    color: black;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 1em;
    margin: 0;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 10px;
    padding-top: 0;
}

#hours {
    font-size: 3em;
}
#mins {
    font-size: 3em;
}
#secs {
    font-size: 3em;
}

.timernum {
    margin: 0;
    padding: 0;
    border: black;
    background-color: transparent;
}

.button-timer {
    width: 1fr;
    height: 1fr;
    background: transparent;
    color: black;
    border: none;
    margin: 0;
    padding: 10px;
    outline: none;
}

.button-timer:hover {
    text-decoration:underline;
}

#button-start {
    padding: 0;
    margin: 0;
}

#button-stop {
    padding: 0;
    margin: 0;
}

#button-reset {
    padding: 0;
    margin: 0;
}