.timer__part {
    text-align: center;
    background-color: none;
    border: none;
    margin: 0;
    font-size: 3em;
    position: relative;
    top: 15px;
}


#pomobuttons {
    text-align: center;
    color: black;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 0;
    background: none;
    margin-top: 26px;
    border-top: 1px solid black;
}

.timer__btn {
    background: none;
    border: none;
    padding-top: 5px;
    padding-bottom: 4px;
}

.timer__btn:hover {
    background: #f5f5f5;
}

#doubledots {
    font-size: 1em;
}

#startbutton {
    float: center;
    border-right: 1px solid black;
}

#startpomobutton {
    float: center;
}
