#timercontainer {
    text-align: center;
    color: black;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 0em;
    margin-left: 0;
    margin-right: 0;
    padding-left: 0;
    padding-right: 0;
    padding-bottom: 0px;
    padding-top: 0;
    background: none;
    border-top: 1px solid black;
    position: relative;
    top: 26px;
}

#hours {
    font-size: 3em;
}
#mins {
    font-size: 3em;
}
#secs {
    font-size: 3em;
}

.doubledots {
    font-size: 3em;
}

.timernum {
    margin: 0;
    padding: 0;
    border: black;
    background-color: transparent;
    position: relative;
    top: 15px;
}

.buttontimer {
    background: transparent;
    color: black;
    border: none;
    margin: 0;
    outline: none;
    padding-top: 7px;
}

.buttontimer:hover {
    background: #f5f5f5;
}


#button-start {
    float: center;
    border-right: 1px solid black;
}

#button-stop {
    float: center;
}

#button-reset {
    float: center;
    border-left: 1px solid black;
}

.icons {
    position: relative;
    bottom: 2px;
}